header {
  margin: 5rem auto;
  max-width: 920px;
  text-align: center;
}

header p {
  margin: 1rem auto;
  max-width: 440px;
}

.button {
  display: inline-block;
  white-space: nowrap;
  margin: 0.5rem;
  padding: 0.5rem 1.5rem;
  max-width: 140px;
  width: 100%;
  border-radius: 0.25rem;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.start-button {
  background-color: var(--green);
  color: var(--white);
  border: 2px solid var(--green);
}

.start-button:hover {
  background-color: var(--dark-green);
  border-color: var(--dark-green);
}

.about-button {
  color: var(--green);
  border: 2px solid var(--green);
}

.about-button:hover {
  background-color: var(--dark-green);
  color: var(--white);
  border-color: var(--dark-green);
}

.features-section h1 {
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
}

.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem auto;
  max-width: 920px;
}

.groups-section,
.tasks-section {
  display: flex;
  justify-content: space-around;
  margin: 5rem auto;
  max-width: 1080px;
}

.tasks-section {
  flex-direction: row-reverse;
}

.groups-content,
.tasks-content {
  margin-bottom: 2rem;
}

.groups-content p,
.tasks-content p {
  max-width: 500px;
  margin: 1rem auto;
}

.groups-preview,
.tasks-preview {
  max-width: 500px;
  width: 100%;
  transform: rotate3d(1, 1, 1, 10deg);
  animation: float 3s ease-in-out infinite;
}

.tasks-preview {
  max-width: 300px;
}

.groups-preview img,
.tasks-preview img {
  width: 100%;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-10px);
  }
  100% {
    transform: translatey(0px);
  }
}

@media (max-width: 768px) {
  header {
    margin: 2rem auto;
  }

  header h1 {
    font-size: 2rem;
  }

  header p {
    margin: 1rem auto;
    max-width: 440px;
  }
}

@media (max-width: 1080px) {
  .groups-section,
  .tasks-section {
    flex-direction: column;
    align-items: center;
  }
}
