.note {
  font-size: 0.8rem;
  color: #666;
}

.no-tasks {
  max-width: 400px;
  margin: 2rem auto;
}

.no-tasks h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

.no-tasks img {
  width: 100%;
}

.tasks {
  margin-top: 2rem;
}
